---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Error 404: not found page"
    pageDescription="This page doesnt exist."
>
    <main>
        <h1>Page not found!</h1>
        <p>
            <a href="/">Click me to return to index page.</a>
        </p>
    </main>
</Layout>
